html {
    width: 70%;
    height: 70%;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top, center bottom;
    font-family: 'Open Sans Condensed', "sans-serif";
    font-size: 120%;
    background-image: url(images/skyline.jpg), url(images/skyline_2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(201, 100, 46);
    min-width: 1265px;
  }